@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

.header-offers-container {
    margin-top: 40px;
}

.header-logo {
    margin: 20px auto 90px auto;
}

.header-workwith {
    width: 260px;
    margin: 30px auto;
    font-weight: 200;
    font-size: xx-large;
}

.header-workwith h3 {
/*    background: rgba(21, 122, 127, 1);*/
    background: rgba(128, 128, 128, 1);
    display: block;
    padding: 0px;
    margin: 0px;
    padding-right: 0px;
    padding-left: 10px;
    -webkit-box-shadow: 6px 4px 25px -2px rgba(26, 26, 26, 1);
    -moz-box-shadow: 6px 4px 25px -2px rgba(161, 158, 161, 1);
    box-shadow: 6px 4px 25px -2px rgba(26, 26, 26, 1);
}

.header-com {
    width: 150px;
/*    color: aqua;*/
/*    color: rgb(245, 106, 129);*/
    color: rgb(76, 76, 76);
}

.header-oque {
    width: 200px;
    font-weight: 100;
}

.header-trabalhamos {
    width: 300px;
    color: rgb(76, 76, 76);
}

.static-header-imagesBox {
    text-align: center;
}

.static-header-ball {
    width: 100px;
    height: 100px;
    border-radius: 33%;
    border: 2px solid rgb(255, 255, 255);
}

.static-header-imagesBox p {
    font-weight: 300;
    line-height: 17px;
}

.static-header-others:hover {
    background: rgba(128, 128, 128, 0.42);
    cursor: pointer;
}

.static-header-baby {
    background: url('../imgs/babywhite.png') no-repeat bottom center;
    background-size: 58%;
}
.static-header-baby:hover {
    background: url('../imgs/babywhite.png') rgba(128, 128, 128, 0.42) no-repeat bottom center ;
    cursor: pointer;
    background-size: 58%;
}

.static-header-vegetales {
    background: url('../imgs/vegetableswhite.png') no-repeat center;
    background-size: 58%;
}

.static-header-vegetales:hover {
    cursor: pointer;
    background: url('../imgs/vegetableswhite.png') rgba(128, 128, 128, 0.42) no-repeat center;
    background-size: 58%;
}

.static-header-meat {
    font-size: 48px;
}

.highlight2 {
    color: goldenrod;
}
.static-header-meat i {
    margin-top: 25px;
    color: rgb(255, 255, 255);
}

.smal-nav-tab li a{
    font-size: 11px !important;
}

.long-block {
    background: #EC526C;
}
#contact {
    background-color: #414041;
}

.card, .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff; }

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.card .item {
    border-left: 0;
    border-right: 0; }
.card .item:first-child {
    border-top: 0; }
.card .item:last-child {
    border-bottom: 0; }

.padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0; }

.card .item:first-child, .list-inset .item:first-child, .padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
.card .item:first-child .item-content, .list-inset .item:first-child .item-content, .padding > .list .item:first-child .item-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
.card .item:last-child, .list-inset .item:last-child, .padding > .list .item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
.card .item:last-child .item-content, .list-inset .item:last-child .item-content, .padding > .list .item:last-child .item-content {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }

.card .item:last-child, .list-inset .item:last-child {
    margin-bottom: -1px; }

.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0; }
.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input {
    padding-right: 44px; }

.padding-left > .list .item {
    margin-left: 0; }

.padding-right > .list .item {
    margin-right: 0; }
